@using ASPForum.Resources
@model ASPForum.Models.News

<h3>@GlobalRes.DoYouWantToDeleteNews: @Model.Title?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @GlobalRes.Title:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @GlobalRes.Description:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Ajax.ActionLink(GlobalRes.DeleteNews, "Delete","News", new { id = Model.Id },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    UpdateTargetId = "moj_div",
                                    InsertionMode = InsertionMode.Replace

                                }, new { @class = "btn btn-danger btn-md" })

            @Ajax.ActionLink(GlobalRes.BackToList, "ManageNews","Manage", null, new AjaxOptions { UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "btn btn-primary btn-md" })
        </div>
    }
</div>
