@using ASPForum.Resources
@model ASPForum.Models.Subject

<h3>@GlobalRes.DoYouWantToDeleteSubject @Model.Title?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @GlobalRes.Title:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @GlobalRes.Text:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {

        <div class="form-actions no-color">
            @Ajax.ActionLink(GlobalRes.DeleteSubject, "Delete", "Subjects", new { id = Model.Id },
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "moj_div",
                    InsertionMode = InsertionMode.Replace
                }, new { @class = "btn btn-danger btn-md" })

            @Ajax.ActionLink(GlobalRes.BackToList, "ManageForum","Manage", null, new AjaxOptions { UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "btn btn-primary btn-md" })

        </div>
    }
</div>