@using ASPForum.Resources
@model ASPForum.Models.Post

@{
    ViewBag.Title = GlobalRes.CreatingPost;
}

<script type="text/javascript">
    
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>@GlobalRes.CreatePostForThread @ViewBag.ThreadTitle</h3>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            <span class="control-label col-md-2">@GlobalRes.Title: </span>

            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">@GlobalRes.Content: </span>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text, new {id = "postcontent", rows = 10, cols = 70})
                @Html.ValidationMessageFor(model => model.Text, "", new {@class = "text-danger"})
            </div>
        </div>
        @Html.Hidden("threadId", (object) ViewBag.ThreadId)
        <h4 id="error" style="color: red"></h4>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="postsubmit" value="@GlobalRes.CreateNewPost" class="btn btn-success btn-md"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(GlobalRes.BackToList, "PostThread", new {id = ViewContext.RouteData.Values["id"]}, new {@class = "btn btn-primary"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}