@using ASPForum.Resources
@model ASPForum.Models.Post

@{
    ViewBag.Title = GlobalRes.DeletePost;
}

<h3>@GlobalRes.DoYouWantToDeletePost</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @GlobalRes.Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @GlobalRes.Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @GlobalRes.Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@GlobalRes.Delete" class="btn btn-danger" /> |

            @Html.ActionLink(GlobalRes.BackToList, "PostThread", "Posts", new {id=  Model.ThreadId}, new {@class = "btn btn-primary btn-md"})
        </div>
    }
</div>
