@model IEnumerable<ASPForum.Models.Post>
<h3>@ViewBag.ThreadTitle</h3>
<p>
    @Html.ActionLink("Utwórz nowy post", "Create")
</p>
<table class="subject-content">

@foreach (var item in Model)
{
    ViewBag.Title = "Zobacz wątek: " + item.Thread.Title;
    <tr>
        <td class="col-md-10" style="border-right: solid 1px black">
            <h6>Przez: @item.User.UserName, @item.Date, @item.Thread.Title</h6> <br/>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td class="col-md-2">
            <img src="@item.User.Avatar"/><br/>
            @Html.DisplayFor(modelItem => item.User.UserName)<br/>
        </td>
       
    </tr>
}

</table>
