@using ASPForum.Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @GlobalRes.Forum</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
    <script src="~/scripts/tinymce/tinymce.min.js"></script>
    <!-- Script to wire up your TinyMCE editor -->
    <script type="text/javascript">
        function spellchecktinymce() {
            $.get('/Content/forbiddenwords.txt',
                function(result) {
                    var splitfile = result.split(/\r\n/);
                    var content = tinyMCE.activeEditor.getContent({ format: 'raw' });
                    for (var i = 0; i < splitfile.length - 1; i++) {
                        if (content.search(splitfile[i]) !== -1) {
                            console.log("TINYMCE");
                            $("#error").append('<p>@GlobalRes.InappropriateWord: ' +
                                splitfile[i] +
                                '</p>');
                            $("input[type=submit]").attr("disabled", true);
                        }
                    }

                });
        }

        function spellchecktitle() {
            $('#error').empty();
            $("input[type=submit]").attr("disabled", false);
            var content = $("input:text").val();
            if (content !== "") {
                var split = content.split(' ');
                $.get('/Content/forbiddenwords.txt',
                    function (result) {
                        var splitfile = result.split(/\r\n/);
                        for (var i = 0; i < split.length; i++) {
                            for (var j = 0; j < splitfile.length - 1; j++) {
                                if (split[i].toLowerCase() === splitfile[j].toLowerCase()) {
                                    console.log("TITLE");

                                    $("#error").append('<p>@GlobalRes.InappropriateWord: ' +
                                        split[i] +
                                        '</p>');
                                    $("input[type=submit]").attr("disabled", true);
                                }
                            }
                        }
                    });
            }
        }

        // Initialize your tinyMCE Editor with your preferred options
        tinyMCE.init({
            setup: function(ed) {
                ed.on('change',
                    function(e) {
                        $('#error').empty();
                        $("input[type=submit]").attr("disabled", false);
                        spellchecktinymce();
                        spellchecktitle();
                    });
            },
            table_toolbar: "",
            selector: 'textarea',
            theme: 'modern',
            plugins: [
                'advlist autolink lists link image charmap print preview hr anchor pagebreak wordcount',
                'searchreplace wordcount visualblocks visualchars code fullscreen',
                'insertdatetime media nonbreaking save table contextmenu directionality',
                'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
            ],
            toolbar1:
                'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
            image_advtab: true,
            theme_advanced_resizing: true,
            height: "250"
        });
    </script>
    <script type="text/javascript">
        function spellcheck() {
            $("input[type=text]").change(function() {
                    $('#error').empty();
                    $("input[type=submit]").attr("disabled", false);
                    console.log("aaaa");
                    spellchecktinymce();
                    spellchecktitle();
                });
        }
    </script>
    @if (User.Identity.IsAuthenticated)
    {
        <script type="text/javascript">
            $(document).ready(function() {
                spellcheck();

            });

            function newMs() {
                $.post("/Messages/Unread",
                    function(ile) {

                        if (ile !== null) {
                            if (ile !== -1) {
                                if (ile === 0) {
                                    document.getElementById("sumOfNewMessages");
                                } else {
                                    document.getElementById("sumOfNewMessages");
                                }
                                document.getElementById("sumOfNewMessages").innerHTML = "(" + ile + ")";
                            }

                        }

                    });
            }
        </script>
    }
    else
    {
        <script type="text/javascript">
            function newMs() {

            }
        </script>
    }

</head>
<body onload="newMs()">

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink(GlobalRes.Forum, "Index", "Categories", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("Change", "Language", new {language = "en"})">
                        <img src="~/Content/Images/englishflag.png" alt="englishflag" width="24" height="24"/>
                    </a>

                </li>
                <li>
                    <a href="@Url.Action("Change", "Language", new {language = "pl"})">
                        <img src="~/Content/Images/polishlag.png" alt="polishflag" width="24" height="24"/>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Change", "Language", new {language = "es"})">
                        <img src="~/Content/Images/spanishflag.png" alt="spanishflag" width="24" height="24"/>
                    </a>
                </li>
                @*
                        <li>@Html.ActionLink("Categories", "Index", "Categories")</li>*@
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - @GlobalRes.Forum</p>
    </footer>
</div>


</body>
</html>