@using ASPForum.Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @GlobalRes.Forum</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)

    <script type="text/javascript">
        $(document).ready(function() {
            $("input[type=text], textarea").change(function() {
                $("input[type=text], textarea").each(function () {
                    console.log("siemanko");
                    $('#error').empty();
                    $("input[type=submit]").attr("disabled", false);
                    var content = $(this).val();
                    if (content !== "") {
                        var split = content.split(' ');
                        $.get('/Content/forbiddenwords.txt',
                            function(result) {
                                var splitfile = result.split(/\r\n/);
                                for (var i = 0; i < split.length; i++) {
                                    for (var j = 0; j < splitfile.length - 1; j++) {
                                        if (split[i].toLowerCase() === splitfile[j].toLowerCase()) {
                                            $("#error").append('<p>Niepoprawne słowo: ' + split[i] + '</p>');
                                            $("input[type=submit]").attr("disabled", true);
                                        }
                                    }
                                }

                            });
                    }
                });
            });

        });


        function newMs() {
            $.post("/Messages/Unread",
                function(ile) {
                    if (ile !== -1) {
                        if (ile === 0) {
                            document.getElementById("sumOfNewMessages");
                        } else {
                            document.getElementById("sumOfNewMessages");
                        }


                        document.getElementById("sumOfNewMessages").innerHTML = "(" + ile + ")";
                    }
                });

            setTimeout("newMs()", 3000);
        }

        function markAsRead(x) {
            $(document)
                .ready(function() {
                    console.log(x);
                    $.post("/Messages/IfViewd",
                        { id: x },
                        function() {

                        });
                });
        }
    </script>
</head>
<body onload="newMs()">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink(GlobalRes.Forum, "Index", "Categories", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("Change", "Language", new {language = "en"})">
                        <img src="~/Content/Images/englishflag.png" alt="englishflag" width="24" height="24"/>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Change", "Language", new {language = "pl"})">
                        <img src="~/Content/Images/polishlag.png" alt="polishflag" width="24" height="24"/>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Change", "Language", new {language = "es"})">
                        <img src="~/Content/Images/spanishflag.png" alt="spanishflag" width="24" height="24"/>
                    </a>
                </li>
                @*
                    <li>@Html.ActionLink("Categories", "Index", "Categories")</li>*@
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - @GlobalRes.Forum</p>
    </footer>
</div>


</body>
</html>