@model IEnumerable<ASPForum.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel-group title-bar-position" id="accordion">

    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading title-bar">


                <table>
                    <tr>
                        <td class="col-xs-8">
                            <b>@item.Title</b>
                        </td>
                        <td class="col-xs-1">
                            Wątki

                        </td>
                        <td class="col-xs-1">
                            Posty

                        </td>
                        <td class="col-xs-2">
                            Ostatni post
                        </td>

                    </tr>
                </table>
            </div>

            <div class="panel-body" style="padding-top:0px; padding-bottom: 0px;">

                @Html.Action("Subjects_partial", "Categories", new { id = item.Id })

            </div>

        </div>
    }
</div>
<h4>Statystyki</h4>
<hr />
Liczba postów: <b>@ViewBag.PostCount</b> • Liczba wątków: <b>@ViewBag.ThreadCount</b> • Liczba użytkowników: <b>@ViewBag.UserCount</b> • Najnowszy użytkownik: <b></b>@ViewBag.NewestUser
<br/><br/>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>