@model IEnumerable<ASPForum.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel-group title-bar-position" id="accordion">

    @foreach (var item in Model)
    {
        <div class="panel panel-default">
                <div class="panel-heading title-bar">


                    <table>
                        <tr>
                            <td class="col-xs-7">
                                @Html.DisplayFor(model => item.Title)

                            </td>
                            <td class="col-xs-1">
                                Wątki

                            </td>
                            <td class="col-xs-1">
                                Posty

                            </td>
                            <td class="col-xs-3">
                                Ostatni wątek

                            </td>

                        </tr>
                    </table>
                </div>
                <div class="panel-body">
                    @Html.DisplayFor(model => item.Text)
                <div class="panel-body" style="padding-top:0px;">

                    @Html.Action("Subjects_partial", "Categories", new {id = item.Id})

                </div>
            </div>
        </div>
    }
</div>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

</table>