@model IEnumerable<ASPForum.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.IsInRole("Admins"))
{
    @Html.ActionLink("Dodaj kategorie", "Create")
}

<div class="panel-group title-bar-position" id="accordion">

    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading title-bar">


                <table>
                    <tr>
                        <td class="col-xs-7">
                            @Html.DisplayFor(model => item.Title)

                        </td>
                        <td class="col-xs-1">
                            Wątki

                        </td>
                        <td class="col-xs-1">
                            Posty

                        </td>
                        <td class="col-xs-3">
                            Ostatni post
@if (User.IsInRole("Admins"))
{
                            @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new {@class= "btn btn-default" })
                            @Html.ActionLink("Usun", "Delete", new { id = item.Id }, new { @class = "btn btn-default" })
}
                        </td>

                    </tr>
                </table>
            </div>

            <div class="panel-body" style="padding-top:0px; padding-bottom: 0px;">

                @Html.Action("Subjects_partial", "Categories", new { id = item.Id })

            </div>

        </div>
    }
</div>
