@model IEnumerable<ASPForum.Models.Subject>
<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-12 subject-content">
            <table width="100%">

                <tr>
                    <td class="col-xs-7">
                        @Html.ActionLink(item.Title, "ThreadsSubject", "Threads", new {id = item.Id}, null) <br/>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td class="col-xs-1">
                        @Html.Action("ThreadsCount", "Categories", new {id = item.Id})
                    </td>
                    <td class="col-xs-1">
                        @Html.Action("PostCount", "Categories", new {id = item.Id})
                    </td>
                    <td class="col-xs-3">
                        @Html.Action("NewPost", "Categories", new {id = item.Id})
                    </td>
                </tr>
            </table>

        </div>
    }
</div>