@using ASPForum.Resources
@model IEnumerable<ASPForum.Models.MessageUser>


<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading title-bar">
            <table>
                <tr>
                    <td>
                        @GlobalRes.Messages
                    </td>
                </tr>
            </table>
        </div>

        <div class="panel-body" style="padding: 0;">

            <div>

                <table width="100%">
                    @foreach (var item in Model)
                    {
                        <tr id="detailsMessage" class="subject-content" onclick="markAsRead(@item.Message.Id)">
                            @if (item.Message.IsRead == false)
                            {
                                <td class="col-xs-9")>
                                    @Ajax.ActionLink(item.Message.Title, "Details", "Messages", new {id = item.MessageId}, new AjaxOptions {UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET"}, new {@class = ""})
                                </td>
                                <td class="col-xs-1" )>
                                    Czytaj
                                </td>
                                <td class="col-xs-1" )>
                                    @item.Sender.UserName
                                </td>
                            }
                            else
                            {
                                <td class="col-xs-10" )>
                                    @Ajax.ActionLink(item.Message.Title, "Details", "Messages", new {id = item.MessageId}, new AjaxOptions {UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET"}, new {@class = ""})
                                </td>
                            }
                            <td class="col-xs-2">
                                @Html.Action("dateMessage", "Messages", new {id = item.MessageId})
                            </td>
                        </tr>
                    }
                </table>
            </div>

        </div>

    </div>
</div>