@using ASPForum.Resources
@model IEnumerable<ASPForum.Models.MessageUser>


<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading title-bar">
            <table>
                <tr>
                    <td>
                        @GlobalRes.Messages
                    </td>
                </tr>
            </table>
        </div>

        <div class="panel-body" style="padding: 0;">

            <div>

                <table width="100%">
                    @foreach (var item in Model)
                    {
                        if (item.Message.IsRead == false)
                        {
                            <tr id="detailsMessage" class="subject-content" onclick="markAsRead(@item.Message.Id)" style="background-color: darkblue">
                                <td class="col-xs-1" )>
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </td>
                                <td class="col-xs-9" )>
                                    <div style="color: yellow">
                                        @Ajax.ActionLink(item.Message.Title, "Details", "Messages", new { id = item.MessageId }, new AjaxOptions { UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { style = "color: LightGreen; font-weight: bold;" })
                                    </div>
                                    <div style="color: yellow">
                                        @GlobalRes.By: @item.Sender.UserName
                                        <div style="font-size: 12px;">@($"{item.Message.Date:dd/MM/yyyy, hh:mm}")</div>
                                    </div>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr class="subject-content">

                                <td class="col-xs-1" )>
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </td>
                                <td class="col-xs-9" )>
                                    <div>
                                        @Ajax.ActionLink(item.Message.Title, "Details", "Messages", new { id = item.MessageId }, new AjaxOptions { UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "" })
                                    </div>
                                    <div>
                                        <div style="font-size: 13px;">@GlobalRes.By: @item.Sender.UserName</div>
                                        <div style="font-size: 12px;">@($"{item.Message.Date:dd/MM/yyyy, hh:mm}")</div>
                                    </div>
                                </td>
                                <td class="col-xs-2" )>
                                    @Ajax.ActionLink(GlobalRes.Delete, "Delete", "Messages", new { id = item.MessageId }, new AjaxOptions { UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "" })

                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>

        </div>

    </div>
</div>