@using ASPForum.Resources
<h3>@GlobalRes.AccountDetails</h3>
<hr/>
<dl class="dl-horizontal">
    <dt>
        @GlobalRes.UserName:
    </dt>
    <dd>
        @ViewBag.Username
    </dd>
    <dt>
        @GlobalRes.RegistrationDate:
    </dt>
    <dd>
        @ViewBag.Registered
    </dd>
    <dt>
        @GlobalRes.NrOfThreads: 
    </dt>
    <dd>
        @ViewBag.ThreadCount
    </dd>
    <dt>
        @GlobalRes.NrOfPosts: 
    </dt>
    <dd>
        @ViewBag.PostCount
    </dd>
</dl>