@using ASPForum.Resources
@model IEnumerable<ASPForum.Models.Message>

<div class="row">
    <div class="col-xs-9" id="messages_">
        @Html.Action("PMessage")

    </div>
    <div class="col-xs-3">
        @Ajax.ActionLink(GlobalRes.NewMessage, "Create", "Messages", null, new AjaxOptions { UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "list-group-item list-group-item-text" })
        @Ajax.ActionLink(GlobalRes.SentMessages, "SendMessages", "Manage", null, new AjaxOptions { UpdateTargetId = "messages_", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "list-group-item list-group-item-text" })
        @Ajax.ActionLink(GlobalRes.Messages, "PMessage", "Manage", null, new AjaxOptions { UpdateTargetId = "messages_", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "list-group-item list-group-item-text" })
        @Ajax.ActionLink(GlobalRes.AddFriend, "FriendsAdd", null, new AjaxOptions { UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "list-group-item list-group-item-text" })
        @GlobalRes.Friends
        @Html.Action("PFriends")
    </div>

</div>