@model ASPForum.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
    
    <script type="text/javascript">
        $(document)
            .ready(function () {
                $('#openFile')
                    .on('change',
                        function () {
                            $('#error').empty();

                            var filename = $('input[type=file]').val().replace(/C:\\fakepath\\/i, '');
                            var extension = filename.replace(/^.*\./, '');

                            if (extension === filename) {
                                extension = '';
                            } else {
                                extension = extension.toLowerCase();
                            }
                            switch (extension) {
                                case 'jpg':
                                case 'jpeg':
                                case 'png':
                                    $('#submit').attr("disabled", false);
                                    break;
                                default:
                                    $('#submit').attr("disabled", true);
                                    $('#error').append('<p>Nieprawidłowe rozszerzenie pliku</p>');
                            }
                            var size = this.files[0].size;
                            if (size > 500000) {
                                $('#submit').attr("disabled", true);
                                $('#error').append('<p>Zbyt duży rozmiar</p>');
                            }


                        });
                var url = window.URL || window.webkitURL;

                $("#openFile")
                    .change(function (e) {
                        var image, file;
                        if ((file = this.files[0])) {
                            image = new Image();
                            image.onload = function () {
                                if (this.width > 150 || this.height > 150 || ((this.width / this.height) !== 1)) {
                                    $('#submit').attr("disabled", true);
                                    $('#error').append('<p>Nieprawidłowa rozdzielczość obrazka</p>');
                                }
                            };
                            image.src = url.createObjectURL(file);
                        }
                    });

            });

    </script>

}


<div id="page" class="col-md-12">
    <h3>Panel użytkownika</h3>
    <div id="functions" class="col-md-3">
      
        @Ajax.ActionLink("Profil", "AccountDetails", null, new AjaxOptions {UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET"}, new {@class = "list-group-item list-group-item-info"})
        @Ajax.ActionLink("Wiadomości", "Inbox", null, new AjaxOptions {UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET"}, new {@class = "list-group-item list-group-item-info"})
        @Ajax.ActionLink("Zmień dane", "ChangeDetails", null, new AjaxOptions {UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET"}, new {@class = "list-group-item list-group-item-info"})
        @Ajax.ActionLink("Zmień awatar", "ChangeAvatar", null, new AjaxOptions {UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET"}, new {@class = "list-group-item list-group-item-info"})

        <br/>
        @if (User.IsInRole("Admin") && Request.IsAuthenticated)
        {
            <h5>Opcje administracyjne:</h5>
            @Ajax.ActionLink("Użytkownicy", "ManageUsers", null, new AjaxOptions {UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET"}, new {@class = "list-group-item list-group-item-text"})
            @Ajax.ActionLink("Forum", "ManageForum", null, new AjaxOptions {UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET"}, new {@class = "list-group-item list-group-item-text"})
            @Ajax.ActionLink("Newsy", "ManageNews", null, new AjaxOptions {UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET"}, new {@class = "list-group-item list-group-item-text"})
            }


    </div>
    <div id="moj_div" class="col-md-9"></div>
</div>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication
        *@
        @*
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
        *@
        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@'


        </dd>
    </dl>
</div>