@using ASPForum.Models
@using ASPForum.Resources
@if (User.IsInRole("Admin") && Request.IsAuthenticated)
{
    var im = new IdentityManager();

    <table class="table table-bordered">
        <th class="col-md-4">@GlobalRes.User</th>
        <th class="col-md-5">@GlobalRes.RoleInForum</th>
        <th class="col-md-3">@GlobalRes.Options</th>
        @foreach (var user in ViewBag.UserList)
        {
            <tr>
                <td>
                    @user.UserName
                </td>
                <td>

                    @if (im.isUserInRole(user.Id, "Admin"))
                    {
                        @Ajax.ActionLink(GlobalRes.DisallowAdmin, "ChangeAdminRole", new {id = user.Id},
                            new AjaxOptions
                            {
                                UpdateTargetId = "moj_div",
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "Post"
                            },
                            new {style = "color:red;"})
                    }
                    else
                    {
                        @Ajax.ActionLink(GlobalRes.GrantAdmin, "ChangeAdminRole", new {id = user.Id},
                            new AjaxOptions
                            {
                                UpdateTargetId = "moj_div",
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "Post"
                            },
                            new {style = "color:SpringGreen;"})
                    }
                    - @Ajax.ActionLink(GlobalRes.ManageModeratorRole, "ModeratorManage", new {id = user.Id},
                          new AjaxOptions
                          {
                              UpdateTargetId = "moj_div",
                              InsertionMode = InsertionMode.Replace,
                              HttpMethod = "GET"
                          })
                </td>

                <td>
                    @Ajax.ActionLink(GlobalRes.Edit, "EditUser", new {id = user.Id},
                        new AjaxOptions
                        {
                            UpdateTargetId = "moj_div",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET"
                        }) •
                    @if (user.LockoutEnabled == true)
                    {
                        @Ajax.ActionLink(GlobalRes.Unban, "ChangeStateForUser", null, new {id = user.Id},
                            new AjaxOptions
                            {
                                HttpMethod = "POST",
                                UpdateTargetId = "moj_div",
                                InsertionMode = InsertionMode.Replace
                            },
                            new {style = "color:SpringGreen;"})
                    }
                    else if (user.LockoutEnabled == false)
                    {
                        @Ajax.ActionLink(GlobalRes.Ban, "ChangeStateForUser", null, new {id = user.Id},
                            new AjaxOptions
                            {
                                HttpMethod = "POST",
                                UpdateTargetId = "moj_div",
                                InsertionMode = InsertionMode.Replace
                            },
                            new {style = "color:red;"})
                    }
                </td>


            </tr>
        }
    </table>
}