@using Microsoft.AspNet.Identity
@if (User.IsInRole("Admin") && Request.IsAuthenticated)
{
    <table class="table table-bordered">
        <th class="col-md-4">Użytkownik</th>
        <th class="col-md-5">Ranga</th>
        <th class="col-md-3">Opcje</th>
        @foreach (var user in ViewBag.UserList)
        {
            <tr>
                <td>
                    @user.UserName
                </td>
                <td>
                    @user.Privileges
                </td>
                <td>
                    @Ajax.ActionLink("Edytuj", "EditUser", new { id = user.Id },
                        new AjaxOptions
                        {
                            UpdateTargetId = "moj_div",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET"
                        }) •
                    @if (user.LockoutEnabled == true)
                    {

                        @Ajax.ActionLink("Odblokuj", "ChangeStateForUser", null, new { id = user.Id },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    UpdateTargetId = "moj_div",
                                    InsertionMode = InsertionMode.Replace

                                },
                                new { @style = "color:SpringGreen;" })

                    }
                    else if (user.LockoutEnabled == false)
                    {

                        @Ajax.ActionLink("Zablokuj", "ChangeStateForUser", null, new { id = user.Id },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    UpdateTargetId = "moj_div",
                                    InsertionMode = InsertionMode.Replace

                                },
                                new { @style = "color:red;" })

                    }
                    • @Ajax.ActionLink("Usuń", "DeteleUserConfirm", null, new { id = user.Id },
                                new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    UpdateTargetId = "moj_div",
                                    InsertionMode = InsertionMode.Replace

                                })

                </td>



            </tr>
        }
    </table>
}