@using ASPForum.Resources
@model ASPForum.Models.ApplicationUser

<h4>@Model.UserName</h4>
<div>
   <div class="row">
       @GlobalRes.Rank: @Html.Action("Privillege", "Posts", new { userId = Model.Id })
   </div>
    <div class="row">
        @GlobalRes.RegistrationDate: @Model.RegistrationDate
    </div>

    @Ajax.ActionLink(GlobalRes.AddFriend, "AddFriend", "Friends", new {id = Model.Id}, new AjaxOptions { UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "btn btn-primary btn-md" })
    
    @Ajax.ActionLink(GlobalRes.BackToList, "FriendsAdd", "Manage", null, new AjaxOptions { UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "btn btn-primary btn-md" })
</div>
