@using ASPForum.Resources
@model ASPForum.Models.ApplicationUser

<h4>@Model.UserName</h4>
<div>
   <div class="row">
       Rank: @Model.Rank
   </div>
    <div class="row">
        Zarejestrowany dnia: @Model.RegistrationDate
    </div>

       
    @Html.ActionLink("Dodaj znajomego","AddFriend","Friends",new {id=Model.Id },new {@class = "btn btn-primary btn-md"  })

    @Ajax.ActionLink(GlobalRes.BackToList, "FriendsAdd", "Manage", null, new AjaxOptions { UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "btn btn-primary btn-md" })
</div>
