@model ASPForum.Models.ApplicationUser

<h4>@Model.UserName</h4>
<div>
   
     @Model.Rank
    @Model.RegistrationDate
    @Model.Roles

    @Html.ActionLink("Dodaj znajomego","AddFriend","Friends",new {id=Model.Id },new {@clas = "btn btm-default"  })
</div>
