@using ASPForum.Resources
@model ASPForum.Models.Thread

@{
    ViewBag.Title = GlobalRes.EditingThread;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h3>@GlobalRes.EditingThread</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <span class="control-label col-md-2">@GlobalRes.Title: </span>

            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">@GlobalRes.Description: </span>

            <div class="col-md-10">
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (User.IsInRole("Admin"))
        {
            <div class="form-group">
                <span class="control-label col-md-2">@GlobalRes.DoYouWantToPin? </span>
                <div class="col-md-10">
                    @GlobalRes.Yes @Html.RadioButtonFor(m => m.IsPinned, true, new { @class = "radio-inline" })
                    @GlobalRes.No @Html.RadioButtonFor(m => m.IsPinned, false, new { @class = "radio-inline" })
                    @Html.ValidationMessageFor(model => model.IsPinned, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            @Html.Hidden("IsPinned", false)
        }
        @Html.Hidden("subjectId", (object)ViewBag.SubjectId)
        @Html.Hidden("UserId", (object)ViewBag.UserId)
        @Html.Hidden("Date", (object)ViewBag.Date)
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@GlobalRes.Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(GlobalRes.BackToList, "ThreadsSubject", "Threads", new { id = Model.SubjectId }, new { @class = "btn btn-primary" })

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
