@using ASPForum.Models
@model IEnumerable<ASPForum.Models.Thread>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.ThreadTitle</h2>

<p>
    @Html.ActionLink("Stwórz nowy wątek", "Create", "Threads", new {id = Url.RequestContext.RouteData.Values["id"]}, null)
</p>
<div class="panel-group title-bar-position" id="accordion">

    <div class="panel panel-default">


        <div class="panel-heading title-bar">
            <table width="100%">
                <tr>
                    <td class="col-xs-7">
                        Wątki
                    </td>
                    <td class="col-xs-1">
                        Odpowiedzi

                    </td>
                    <td class="col-xs-1">
                        Wyświetlone

                    </td>
                    <td class="col-xs-3">
                        Ostatni post
                    </td>

                </tr>

            </table>
        </div>
        <div class="panel-body" style="padding-bottom: 0px; padding-top: 0px;">
            <div class="row">
                <div class="col-md-12 subject-content">
                    <table width="100%">
                        @foreach (var thread in Model)
                        {
                            ViewBag.Title = "Zobacz temat - " + thread.Subject.Title;
                            <tr>
                                <td class="col-xs-7" style="border-right: 1px">
                                    <b style="font-size: 19px">@Html.ActionLink(thread.Title, "PostThread", "Posts", new {id = thread.Id}, null)</b><br/>
                                    @if (thread.UserId != null)
                                    {
                                        <p>Przez: @thread.User.UserName, @thread.Date</p>
                                    }

                                </td>
                                <td class="col-xs-1">
                                    @Html.Action("PostCount", "Threads", new {id = thread.Id})
                                </td>
                                <td class="col-xs-1">
                                    @Html.Action("ViewCount", "Threads", new {id = thread.Id})
                                </td>
                                <td class="col-xs-3">
                                    @{
                                        var lastPost = (Post) ViewData["LastPost"];
                                    }
                                    @if (lastPost != null)
                                    {
                                        @lastPost.User.UserName
                                        <br/>
                                        @lastPost.Date
                                    }
                                    else
                                    {
                                        <p>-</p>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<br/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)<br/>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)<br/>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td></td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

</table>