@using ASPForum.Resources
@model ASPForum.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = GlobalRes.ForgotPassword;
}

<h2>@GlobalRes.ForgotPassword</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@GlobalRes.EnterEmail.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <span class="control-label col-md-2">@GlobalRes.Email: </span>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="@GlobalRes.Submit" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
