@using ASPForum.Models
@using ASPForum.Resources
@model LoginViewModel
@{
    ViewBag.Title = GlobalRes.Login;
}

<h2>@GlobalRes.Login</h2>
<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>@GlobalRes.UseAccountToLogIn.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <span class="control-label col-md-2">@GlobalRes.UserLogin: </span>

                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <span class="control-label col-md-2">@GlobalRes.Password: </span>

                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @GlobalRes.RememberMe
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@GlobalRes.Login" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink(GlobalRes.ForgotPassword, "ForgotPassword")
                </p>
                <p>
                    @Html.ActionLink(GlobalRes.RegisterAsANewUser, "Register")
                </p>
                   
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}